<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Save The Bay</title>
    <link rel="stylesheet" href="../public/stylesheets/normalize.css" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="../public/javascripts/browser.js"></script>
  </head>
  <body>

    <main>
      <section class="section-1">
        <img scr="../public/images/golden_gate.jpg" width="50px"/>
        <h1>Hello:D</h1>
        <!-- <object>
          <embed src="../public/images/svg-expirment3.svg"/>
        </object> -->
      </section>
      <section class="section-2">
      </section>
      <section class="section-3">
      </section>
      <section class="section-4">
      </section>
      <section class="section-5">
      </section>
    </main>

    <!-- <nav>
      <ul>
        <li>Home</li>
        <li>Get Involved</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav> -->
    <div class="svg">
      
    </div>
    <div class="hero">
      <h1>Save The Bay</h1>
    </div>
  </body>
</html>