.no-transition, .no-transition * {
  transition: none !important;
}

/*.section-2.active-section{

}
.section-2.entering-section-down{
 
}

.section-2.entering-section-up{
  
}
.section-2.leaving-section-down{
  
}
.section-2.leaving-section-up{
  
}


*/
.section-2-content,
.section-3-content {
  position: relative;
  height: 100%;
}

/* Section 2 */

.section-2-header,
.section-2-date, 
.section-2-info,
.learn-more-button {
  display: block;
  position: absolute;
  left: 29%;
  opacity: 0;
}

.section-2-date {
  font-weight: 200;
  margin-bottom: 20px;

}

.section-2-info {
  font-weight: 200;
  margin-bottom: 20px;
}

.section-2 .section-2-header {
  transition: top 1000ms, opacity 3s;
}
.section-2 .section-2-date{
  transition: top 1100ms, opacity 3s;
}
.section-2 .section-2-info{
  transition: top 1200ms, opacity 3s;
}
.section-2 .learn-more-button{
  transition: top 1300ms, opacity 3s;
}



/* entering section down & leaving section up */

.section-2.entering-section-down .section-2-header,
.section-2.leaving-section-up .section-2-header {
  top: 50%;
  opacity: 0;
}
.section-2.entering-section-down .section-2-date,
.section-2.leaving-section-up .section-2-date{
  top: 60%;
  opacity: 0;
}
.section-2.entering-section-down .section-2-info,
.section-2.leaving-section-up .section-2-info{
  top: 60%;
  opacity: 0;
}
.section-2.entering-section-down .learn-more-button,
.section-2.leaving-section-up .learn-more-button{
  top: 80%;
  opacity: 0;
}


/* leaving section down & entering section up */

.section-2.leaving-section-down .section-2-header,
.section-2.entering-section-up .section-2-header {
  top: -50%;
  opacity: 0;
}
.section-2.leaving-section-down .section-2-date,
.section-2.entering-section-up .section-2-date{
  top: -60%;
  opacity: 0;
}
.section-2.leaving-section-down .section-2-info,
.section-2.entering-section-up .section-2-info{
  top: -60%;
  opacity: 0;
}
.section-2.leaving-section-down .learn-more-button,
.section-2.entering-section-up .learn-more-button{
  top: -80%;
  opacity: 0;
}



/* active-section state */

.section-2.active-section .section-2-header{
  top: 10%;
  opacity: 1;
}
.section-2.active-section .section-2-date{
  top: 25%;
  opacity: 1;
}
.section-2.active-section .section-2-info{
  top: 29%;
  opacity: 1;  
}
.section-2.active-section .learn-more-button{
  top: 36%;
  opacity: 1;
}








/* section 3 */


.section-3-header,
.section-3-info,
.get-involved-button {
  display: block;
  position: absolute;
  left: 29%;
  opacity: 0;
}

.section-3-header {
  transition: top 1000ms, opacity 3s;
}
.section-3-info{
  transition: top 1200ms, opacity 3s;
}
.get-involved-button{
  transition: top 1300ms, opacity 3s;
}



.section-3.entering-section-down .section-3-header,
.section-3.leaving-section-up .section-3-header {
  top: 50%;
  opacity: 0;
}
.section-3.entering-section-down .section-3-info,
.section-3.leaving-section-up .section-3-info {
  top: 60%;
  opacity: 0;  
}
.section-3.entering-section-down .get-involved-button,
.section-3.leaving-section-up .get-involved-button {
  top: 80%;
  opacity: 0;
}




.section-3.leaving-section-down .section-3-header,
.section-3.entering-section-up .section-3-header {
  top: -50%;
  opacity: 0;
}

.section-3.leaving-section-down .section-3-info,
.section-3.entering-section-up .section-3-info{
  top: -60%;
  opacity: 0;
}

.section-3.leaving-section-down .get-involved-button,
.section-3.entering-section-up .get-involved-button{
  top: -80%;
  opacity: 0;
}



.section-3.active-section .section-3-header {
  top: 10%;
  opacity: 1;
}

.section-3.active-section .section-3-info {
  top: 28%;
  opacity: 1;  
}
.section-3.active-section .get-involved-button {
  top: 60%;
  opacity: 1;
}


.section-2-header,
.section-3-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 7em;
  margin-bottom: 20px;
}


.section-3-info {
  font-weight: 200;
  margin-bottom: 20px;
  margin-right: 800px;
}


.learn-more-button,
.get-involved-button {
  margin: 0 0 0 0;
  padding: 10px 15px;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  background: rgba(0,0,0,0);
  border: solid 4px #00a7be;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 100;
  align-items: center;
  justify-content: center; 
  pointer-events: none;
  transition: background-color 500ms;
}

.modal-content {
  background-color: white;
  padding: 20px; 
  position: relative;
  bottom: 100vh;
  transition: bottom 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.modal-open {
  /*opacity: 1;*/
  pointer-events: auto;
  background-color: rgba(0,0,0,0.75);
}

.modal-open .modal-content {
  bottom: 0;
}