html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main > section{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bi-section-overlay{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100vw;
}

.section-1{
}

.section-1{
  background: red;
}

.section-2{
  background: purple;
}
.section-3{
  background: orange;
}
.section-4{
  background: yellow;
}
.section-5{
  background: salmon;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none;
}

nav.visible{
  opacity: 1;
  pointer-events: inherit;
}

.flex-grow{
  flex-grow: 1;
}
.flex-shrink{
  flex-shrink: 1;
}

nav a {
  margin-left: 1em;
   text-decoration: none;
  float: right;
  display:block;
  padding: 10px 20px;
  color:grey;
}

h1 {
  font-family: 'Arvo', serif;
  margin:0;
  color: grey;
}



#save-my-bay{
  position:absolute;
  /*z-index: -99;*/
  font-family: 'Special Elite', cursive;
  font-size: 8em;
  color:white;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  left: 25%;
}

.discover{
  position:absolute;
  /*z-index: -98;*/
  font-size: 2em;
  color:white;
  margin-left: auto;
  margin-right: auto;
  top: 85%;
  left: 45%;
}


object[type="image/svg+xml"]{
  pointer-events: none;
}